<table class='table table-hover table-striped'>
  <% Choices.each do |id, text| %>
    <tr>
      <th><%= text %></th>
      <td><%= @votes[id] || 0 %>
      <td><%= '#' * (@votes[id] || 0) %></td>
    </tr>
  <% end %>
</table>
<p><a href='/'>Cast more food!</a></p>
<form action='reset' method='post'>
<button type='submit' class='btn btn-primary'>Reset food</button>
</form>

<table class='table table-hover table-striped'>
  <% Days.each do |id, text| %>
    <tr>
      <th><%= text %></th>
      <td><%= @votes_days[id] || 0 %>
      <td><%= '#' * (@votes_days[id] || 0) %></td>
    </tr>
  <% end %>
</table>
<p><a href='/days'>Pick more days!</a></p>
<form action='reset_days' method='post'>
<button type='submit' class='btn btn-primary'>Reset days</button>
</form>
<form action='reset_all' method='post'>
<button type='submit' class='btn btn-primary'>Reset all</button>
</form>